<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    	ファミリコミュニケーション
    </title>
    <link rel="icon" type="image/gif/png" href="src/api/templates/images/icon.png">
    <link rel="stylesheet" href="src/api/templates/css/basic.css">
    {# <link rel="stylesheet" href="src/api/templates/css/login.css"> #}
    <link rel="stylesheet" href="src/api/templates/webix/webix.css" type="text/css"> 
    <script src="src/api/templates/webix/webix.js" type="text/javascript"></script>  
</head>
<body>
	<div class="banner">
		<div class="logo">
		</div>
		<h2>ファミリコミュニケーション</h2>
	</div>
</body>
<script>
	var tabbar = {
	  view:"tabbar", 
	  id: "tabbar", 
	  multiview:true, 
	  options: [
	    { value: 'Login', id: 'login'},
	    { value: 'Sign Up', id: 'signUp'},
	  ]
	};
	var loginForm = {
		view:'form',
		id:'loginForm',
		borderless:true,
        elements:[
            {cols:[
            	{},
            	{rows:[
            	{ view:'text', label:'UserName', width:300, labelWidth:100},
            	{view:'text', label:'Password', type:'Password', width:300, labelWidth:100},
            	{view:'label' , label:'<a href="https://www.google.com">Forgot password</a>', align:'right'},
            	{cols:[
            		{view:'button', value:'Login', css:'webix_primary'},
            	]},
            	]},
            	{}
            ]},
        ]};
    var signUpForm = {
    	view:'form',
    	id:'signUpForm',
    	hidden:true,
    	borderless:true,
        elements:[
        	{cols:[
            	{},
            	{rows:[
            	{ view:'text', label:'UserName', width:400, labelWidth:150},
            	{view:'text', label:'Password', type:'Password', width:400, labelWidth:150},
            	{view:'text', label:'ReType Password', type:'Password', width:400, labelWidth:150},
            	{cols:[
            		{view:'button', value:'Sign Up', css:'webix_primary'},
            	]},
            	]},
            	{}
            ]},
        ]
    };
	webix.ui(
		{
			rows:[
				tabbar,
				loginForm,
				signUpForm
			]
		}
	);
	$$('tabbar').attachEvent('onItemClick', changeTab);
	function changeTab(){
		var click = $$('tabbar').getValue();
		webix.message(click);
		if(click == 'login'){
			webix.message('login is clicked');
			$$('signUpForm').hide();
			$$('loginForm').show();
		}else if(click == 'signUp'){
			webix.message('Sign Up is clicked');
			$$('loginForm').hide();
			$$('signUpForm').show();
		}
	};        
</script>
